@charset "UTF-8";

/* 본문 영역 스타일 */
.sl-btn-box .btn { display:block; width: 48px; height: 48px; font-size:32px;color:#fff; background-color:#333; text-align: center; line-height: 48px;font-weight: 700; cursor:pointer; position:absolute; left:100px; }
.sl-btn-box .btn.next { top:100px; }
.sl-btn-box .btn.prev { top:148px; }

.column, .news_area {position:relative;}
.subtitle.noticeTitle {border-bottom:3px dashed #333;padding-bottom:20px;}
.section .delete.is-large {transform:rotate(45deg);position:absolute;right:5%;}
.section .delete.is-large.news {right:4%;}

.board_con {margin:0 0 50px;height:240px;}
.board_con .no_date {width:100%;height:240px;text-align:center;line-height:240px}
.board_con li {box-sizing:border-box;border-bottom:1px solid #333;position:relative;}
.board_con li a {display:block;width:100%;line-height:28px;font-size:18px;padding:14px 0;}
.board_con li .date {position:absolute;right:0;line-height:28px;font-size:16px;top:50%;margin-top:-14px;}

/* banner */
#footBnrModal {display:none;}
.footBnrFixed {
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 50%;
    width: 100%;
    height: 80px;
}
.footBnrFixed .bannerArea {
    display: block;
    width: auto;
    text-align:center;
}
.footBnrFixed img {
    /*display: block;*/
    height : 80px;
    width: auto;
    margin: 0 auto;
    cursor:pointer;
}
.footBnrFixed .closeBanner {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -248px;
    z-index:50;
    background-color:#222;
}
.footBnrFixed .closeBanner:hover, .footBnrFixed .closeBanner:active {
    background-color:#222;
}

/* quickMenu */
.quickMenu {
    position: fixed;
    top: 15%;
    right: 2%;
    width: 90px;
    height: auto;
    text-align: center;
}
.quick_title {
    background-color:var(--sub-color);;
    color: white;
    font-weight: bold;
    border-radius:9px 9px 0 0;
}
.quickMenu li {
    padding-top: 5px;
    padding-bottom: 10px;
    height: 80px;
    font-size: 15px;
    text-align: center;
    background-position:center 12px;
    background-repeat:no-repeat;
    background-size: 40px;
    box-sizing:border-box;
    border:1px solid #fff;
}

.quickMenu li.quick01 {
    background-image:url("../image/main/quickIcon01.png");
}
.quickMenu li.quick02 {
    background-image:url("../image/main/quickIcon02.png");
}
.quickMenu li.quick03 {
    background-image:url("../image/main/quickIcon03.png");
}
.quick_btn {
    background-color: white;
    border-top: #8a8a8a solid 0.1px;
}
.quick_btn a {
    height: 100%;
    margin: 0;
    padding: 0;
    display:block;
    color:#666;
}
.quick_btn p {
    padding-top:50%;
    font-size:0.85em;
}
.quick_btn li:hover, .quick_btn li:active {
    border:1px solid var(--sub-color);
}
.quick_top {
    border-radius: 0 0 50% 50%;
    border-bottom: none;
    width: 100%;
    padding: 0;
    list-style: none;
    background-color: black;
}
.quick_top a {
    color:white;
    font-weight:bold;
    display: block;
}

.quick_top a:hover, .quick_top a:active {
    color:var(--sub-color);
}

/* uiPopup */
.uiPopup {
    width: 400px;
    height: auto;   /* height 고정 해제 */
    box-sizing:border-box;
    border:1px solid #444;
    position: fixed;
    top: 30%;
    left: 20%;
    background-color: #fff;
    padding-bottom:5px;
    transform: translate(-50%, -50%);
    z-index:40;
}

.uiPopup.uiPopup2 {
    width: 500px;
    left: calc(20% + 550px);
}

.ui_top {
    display: block;
    float: right;
    margin-right: 5px;
}