<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
    <!--  dataBoard  -->
    <select id="dataBoardList" resultType="kr.co.tspoon.dto.DataBoard">
        select * from databoard
    </select>

    <select id="dataBoardGet" resultType="kr.co.tspoon.dto.DataBoard">
        select * from databoard where bno=#{bno}
    </select>

    <select id="dataBoardGetLast" resultType="kr.co.tspoon.dto.DataBoard">
        select * from databoard order by bno desc limit 1
    </select>

    <update id="dataBoardCountUp" >
        update databoard set visited = visited+1 where bno=#{bno}
    </update>

    <select id="dataBoardCount" resultType="kr.co.tspoon.dto.DataBoard">
        select COUNT(*) from dataBoard
    </select>

    <insert id="dataBoardInsert" >
        insert into databoard(title, content, author, relations) values(#{title}, #{content}, #{author}, 'databoard')
    </insert>

    <update id="dataBoardUpdate" >
        update databoard set title=#{title}, content=#{content} where bno=#{bno}
    </update>

    <delete id="dataBoardDelete" >
        delete from databoard where bno=#{bno}
    </delete>

    <!-- free  -->
    <select id="qnaList" resultType="kr.co.tspoon.dto.Qna">
        select * from qna order by par desc
    </select>

    <select id="qnaGet" resultType="kr.co.tspoon.dto.Qna">
        select * from qna where qno=#{qno}
    </select>

    <update id="qnaCountUp" >
        update qna set visited = visited+1 where qno=#{qno}
    </update>

    <select id="qnaCount" resultType="kr.co.tspoon.dto.Qna">
        select COUNT(*) from qna
    </select>

    <insert id="qnaInsert" >
        insert into qna(title, content, author, lev, par) values(#{title}, #{content}, #{author}, #{lev}, #{par})
    </insert>

    <update id="qnaPar" >
        update qna set par=qno where lev=0 and par=0
    </update>

    <update id="qnaUpdate" >
        update qna set title=#{title}, content=#{content} where qno=#{qno}
    </update>

    <delete id="qnaDelete" >
        delete from qna where qno=#{qno}
    </delete>

    <!--  free(자유게시판)  -->
    <select id="freeList" resultType="kr.co.tspoon.dto.Free">
        select * from free order by regdate desc
    </select>

    <select id="freeGet" resultType="kr.co.tspoon.dto.Free">
        select * from free where fno=#{fno}
    </select>

    <update id="freeCountUp" >
        update free set visited = visited+1 where fno=#{fno}
    </update>

    <select id="freeCount" resultType="kr.co.tspoon.dto.Free">
        select COUNT(*) from free
    </select>

    <insert id="freeInsert" >
        insert into free values(default, #{title}, #{content}, #{author}, default, default)
    </insert>

    <update id="freeUpdate" >
        update free set title=#{title}, content=#{content} where fno=#{fno}
    </update>

    <delete id="freeDelete" >
        delete from free where fno=#{fno}
    </delete>


</mapper>